* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* ::-webkit-scrollbar-button {
  background-color: orange;
} */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(198, 192, 255), rgb(187, 214, 187));
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #444444;
}

/*
  A stylesheet customizing app (custom renderers)
*/

table.htCore .star {
  color: #fcb515;
}

table.htCore tr.odd td {
  background: #fafbff;
}

table.htCore td .progressBar {
  background: #37bc6c;
  height: 10px;
}

table.htCore tr.selected td {
  background: #edf3fd;
}

/*
  A stylesheet customizing Handsontable style
*/

.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.collapsibleIndicator {
  text-align: center;
}
